.card{
  width: 302px;
  height: 410px;
  margin: 10px;
}

.card-info{
  text-align: left  ;
}

.card-info-name{
  color: #333;
  font-weight: 600;
  font-size: 1.6rem;
}

.card-info-msg{
  color: #666;
  font-size: 1.4rem;
}

.card-info-img{
  width: 100%;
  border: 2px solid #bab9b9;
}

.card-info-num{
  outline: none;
}

.card-info-btn{
  padding: 4px 16px;
  border-radius: 4px;
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  float: right;
  margin-right: 26px;

  &:hover{
    background-color: #0d556b;
  }
}

