.listRegister {
    width: 100%;
    margin-top: 12%;

    .contentWrapper {
        h1 {
            font-size: 4rem;
        }

        p{
            i{
                padding:0 1%;
                font-size: 150%;
            }
        }

        .aboveList{
            font-size: 120%;
            text-align: start;
            width: 52%;
            margin:0 auto;
            margin-top:3%;
            display:flex;
            justify-content: space-between;

            p{
                font-size: 90%;
                background-color:blanchedalmond;
                border-radius: 10px;
                padding:1% 2%;
                transition:0.4s;
                display:flex;
                align-items: center;

                &:hover{
                    background-color: rgba(202, 161, 98, 0.525);
                }
            }

            .edit{
                display:flex;
                width: 40%;
                justify-content: end;

               p{
                display:flex;
                justify-content: center;
                align-items: center;
                padding-left:10%;
                padding-right:10%;
               }

               .done{
                background-color: rgb(2, 150, 2);
                transition:0.4s;

                &:hover{
                    background-color: green;
                }
               }
            }
    
            
        }

        .toFlex{
            display:flex;
            justify-content: center;
        }

        .listWrapper{
            width: 55%;
            padding:1% 2%;
            border-radius: 5px;
            

            p{
                text-align: start;
                background-color: bisque;
                border-radius: 5px;
                padding:0.5% 1%;
            }
        }
    }
}

.list{
    .listHeader{
        padding:1% 0;
        border: 1px solid gray;
        color:white;
        background-color:rgb(7, 83, 133);
        display:flex;
        justify-content: center;
        align-items: center;
    }
}