.card{
 width: 100%;
 display:  flex;
 text-align: left;
 margin-top: 20px;
}

.wrap-card{
  display: flex;
  flex: 2;
}
.card-img{
  img{
    width: 168px;
  }
  margin-right: 4px;
  border: 2px solid #bab9b9;

}

.card-info{
  text-align: left;
  margin-left: 8px;
}

.card-info-name{
  font-size: 1.4rem;
  font-weight: 600;
  color: #6f6d6d;
}

.card-info-sl,
.card-info-btn{
  color: #8A8A8A;
}

.card-info-btn{
  border: none;
  outline: none;
  background-color: transparent;
}

.cart-time{
  flex: 1;
  color: #8A8A8A;

}

.cart-num{
  flex: 1;
}

.cart-num-input{
  color: #8A8A8A;
  outline: none;
  border: 2px solid #bab9b9;
  // width: 90px;
}


.cart-checkbox{
  flex: 1;
  text-align: right;
}