.card{
 width: 100%;
 display:  flex;
 text-align: left;
 margin-top: 20px;
  flex-wrap: wrap;
}

.wrap-card{
  display: flex;
  flex: 2;
}
.card-img{
  img{
    width: 168px;
  }
  margin-right: 4px;
  border: 2px solid #bab9b9;

}

.card-info{
  text-align: left;
  margin-left: 8px;
}

.card-info-name{
  font-size: 1.4rem;
  font-weight: 600;
  color: #6f6d6d;
}

.card-info-sl,
.card-info-btn{
  color: #8A8A8A;
}

.card-info-btn{
  border: none;
  outline: none;
  background-color: #f7ba7d;
  height: 100%;
  padding: 2px 4%;
  margin-left: 20px;
  &:hover{
    background-color: red;
    color: white;
  }

}

.cart-state{
  flex: 1;
  color: #8A8A8A;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
}
.cart-state--green{
  color: green;
}

.cart-num{
  flex: 1;
  text-align: center;
}

.cart-num-input{
  width: 180px;
}

.cart-num-input{
  color: #8A8A8A;
  outline: none;
  border: 2px solid #bab9b9;
  width: 172px;

}


.cart-checkbox{
  flex: 1;
  text-align: right;
}