*{
  margin: 0;
  margin: 0;
  box-sizing:border-box;
  font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
}

/******************* Heading ********************/

.topHeader{
  height:20vh;
  background-color: #4da5c0;
}

#logo{
  margin-top:7px;
}

#topHeaderElements{
  margin-top:80px;
}


.topHeaderElement{
  color:white;
  border-radius: 10px;
  display:flex;
  align-items: center;
  justify-content: center;
  padding:5px 0;
  transition:0.4s;
}


.topHeaderElement:hover{
  background-color:#0d556b;
}

.signIn, .signUp{
  background-color:#c97618;
}

/***************** End Heading *********************/



/********************* Home ************************/



/******************* End Home **********************/


/********************* Footer **********************/

.footer{
  background-color:#495057;
  height: 30%;
  color:white;
  border-bottom:1px solid lightgray;
}

.toFlex{
  display:flex;
}

.name{
  margin:15px 0;
  font-size: 28px;
}

.marginFooter{
  margin-left:15px;
}

.address{
  margin-left:5px;
}

#contactUs{
  font-size: 22px;
  margin-left:10px;
}

.toFlex i{
  font-size: 22px;
  margin-left:30px;
}

.name{
  background: linear-gradient(to right, #e24099ad,#8d1092);
  border-radius: 5px;
  padding:10px 0;
}

.itemFooter{
  margin-left:7px;
}

.endFooter{
  height: 5%;
  background-color:#495057;
}

.endFooter div{
  display:flex;
  align-items: center;
  justify-content: center;
  padding-top:10px;
  color:rgb(218, 215, 215);
}

.imgFooters{
  display:flex;
  width: 100%;
  justify-content: center;
}

.imgFooter{
  height: 30px;
  width: 30px;
  margin:0 20px;
}

.imgFooter img{
  transition:0.4s;
}

.imgFooter:hover img{
  transform:scale(1.3);
}

.aboutFooter .col-md-4 h5{
  display:flex;
  margin-top:60px;
  margin-bottom:30px;
  justify-content: center;
}



/******************* End Footer ********************/