.cart-detail{
  
}

.cart-detail-title{
  text-align: left;
 
  font-size: 1.8rem;
  color: #999;
  font-weight: 400;
  margin-left: 12px;
}

.cart-detail-list{
  padding: 0;
  margin: 0;
  list-style: none;
}
